*{
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar{
    display: none;
}


body{
    background-color: #242B2E;
    color: #fff;
}


.container{
    max-width: 1280px;
    margin: auto;
}

.flex{
    display: flex;
}

#Navbar{
padding: 10px;
}

#Navbar > ul{
list-style: none;
text-align: end;
}

#Navbar > ul > li{
font-size: 24px;
background-color: aquamarine;
filter: brightness(90%);
display: inline-flex;
position: relative;
color: #242B2E;
padding: 10px 15px;
border-radius: 10px;
cursor: pointer;
}

#Navbar > ul > li:hover{
    filter: brightness(110%);
    }

#Navbar #CartItemCounter{
    font-size: 20px;
    padding-left: 4px;
    color: red;
}

.section_1{
    padding: 20px;
}

#ItemsSection{
    max-width: 500px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: #f7f7f7;
}

.heading{
    background-color: #f7f7f7;
    color: #242B2E;
    justify-content: space-between;
    padding: 10px;
}

.items{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}


.item{
    background-color: #c8c8c8;
    color: #242B2E;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
}

.btn{
    background-color: #242B2E;
    color: #f7f7f7;
    border-radius: 6px;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
}

.btn:hover{
    filter: brightness(120%);
}


#CartSection{
    background-color: #f7f7f7;
    color: #242B2E;
    width: 350px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    padding: 60px 0px 0px 0px;
    overflow-y: scroll;
    scrollbar-width: none;
}

#CartSection::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

@keyframes cartIn {
    0% {right: -350px}
  100% {right: 0}
}

@keyframes cartOut {
    0% {
        right: 0px;
    }
  100% {right: -400px;}
}


.hide_cart_btn{
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.cart_heading{
    padding: 10px 20px;
}

#Cart{
    padding: 10px 20px 160px 20px;
}

.cart_item{
    justify-content: space-between;
    margin-top: 10px;
    background-color:#242B2E;
    padding: 5px 5px 5px 15px;
    color: #c8c8c8;
    border-radius: 10px;
    align-items: center;
}

.cart_item > .btn{
    background-color: #454f53;
}

.cart_total{
    gap: 20px;
    height: 40px;
    width: 100%;
    background-color:#c8c8c8;
    position: fixed;
    bottom : 0px;
    padding: 20px;
}
